body {
    background-color: #f0d9d2;
    font-family: 'Prompt', sans-serif;
    color: #553d36;
    font-size: 24px;
    padding: 15px 20px;
    display: block;
    width: 95%;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1000px;
}

.load-spinner{
    display: flex;
}

