.header {
    display: flex;
    padding: 15px;
    align-items: center;
}

a {
    text-decoration: none;
    color: #553d36;
    font-size: 32px;
}

.site-name {
    margin-right: auto;
    font-size: 40px;
    font-weight: bold;
}


.basket {
    width: 50px;
    height: 50px;

}
